*{
  margin: 0;
  font-family: Inter,Arial, Helvetica, sans-serif;
}
body{
  position: relative;
  /* max-height: 600vh; */
  max-width: 1440px;
}
.navbarMenu{
   list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 77px;
  position: fixed;
   left: 50%;
  top: 10px; /* whatever distance from top */
  transform: translateX(-50%);
}
.navbarMenu li{
 padding: 8px;
}

.navbaroption{
  color: #344563;
  font-size: 0.94rem;
}

.details{
  /* width: 57rem;
  height: 47rem; */
width: 57rem;
  height: 47rem; 
border: #36B37E solid;
  position: absolute; 
  text-align: center;
  top: 100px;
  left: 100%;
  transform: translateX(-100%);


}
.intro, .fieldintro{
   font-size: 2.5rem;
  line-height: 3.75rem;
  font-size: 3rem;
}
 .intro{
  padding-top: 160px;
  color: #172B4D;
}

.fieldintro{
  color: #36B37E;
}
.introdestails{
  color: #172B4D;
   line-height: 2rem;
   font-size: 1.25rem;
   padding-top: 1.5rem;
     font-size: 1.25rem;
} 
.sites{
  margin-top: 2rem;
}
.sitesimage{
  width: 1.5rem;
  height: 1.5rem;
  padding: .25rem;
}

.dropdownbutton{
  border-radius:2rem;
  border:.8px  solid #aab8d0;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 4rem;
  text-align: center;
  background: none;
  padding: 8px;
}
.dropdownimage{
    width: 1.5rem;
  height: 1.5rem;
}

.lines{
    z-index: -1;
    width: 17rem;
}

 .lineimage1
 { top: -42%; right: 68%; transform:rotate(172deg) ;
  position:absolute;
}
 .lineimage2
 {  top: -20%; right: 88%;
  transform:rotate(167deg) ;
  position:absolute; 
}
.lineimage3{ bottom: 55%; right: 98%; transform:rotate(150deg) ;position:absolute;}
.lineimage4{ bottom: 27%; right: 98%; transform:rotate(115deg) ;position:absolute;}
.lineimage5{ bottom: 5%; right: 98%; transform:rotate(105deg) ;position:absolute;}
.lineimage6{ bottom: -15%; right: 89%; transform:rotate(78deg) ;position:absolute;}
.lineimage7{ bottom: -18%; right: 58%; transform:rotate(45deg) ;position:absolute;}
.lineimage8{ bottom: -10%; right: 42%; transform:rotate(38deg) ;position:absolute; height: 224px;}
.lineimage9{ bottom: -15%; right: 12%; transform:rotate(20deg) ;position:absolute;}
.lineimage10{ top: 80%; left: 85%; transform:rotate(10deg) ;position:absolute;}
.lineimage11{ top: 50%; left: 95%; transform:rotate(135deg) ;position:absolute;}
/* .lineimage10{ bottom: -10%; right: 12%; transform:rotate(15deg) ;position:absolute; height: 224px;} */
  /* .lineimage19{ top: -10%; right: 78%; transform:rotate(172deg) ;position:absolute;}
  .lineimage4{ top: 0%; right: 98%; transform:rotate(168deg) ;position:absolute;}
  .lineimage5{ top: 85%; left: 50%; }
  .lineimage6{ top: 80%; left: 15%; }
  .lineimage7{ top: 65%; left: 8%; }
  .lineimage8{ top: 50%; left: 3%; }
  .lineimage9{ top: 20%; left: 15%; } */

  .abstract1{
    left: 125%; top: 0%; 
    transform:rotate(172deg) ;position:absolute;
  width: 18rem;}
   
    .abstract2{
    right: -10%; top: 85%; 
    width: 232.22px;
    height: 185.08px;
    transform:rotate(2deg) ;position:absolute;}
     
    .abstract3{
    left: 25%; top: 65%; 
    transform:rotate(2deg) ;position:absolute;}
    
    .abstract4{
    left: -15%; top: 84%; 
    transform:rotate(2deg) ;position:absolute;}
    
 .abstract5{
    right: 100%; top: 24%; 
        transform:rotate(12deg);
  position:absolute;}

 .abstract6{
    right: 70%; top: 2%; 
    width: 5rem;
    transform:rotate(-97.78deg) ;position:absolute;
    opacity: 75%;
  position:absolute;}
 .abstract7{
    right: 2%; top: -14%; 
  position:absolute;}
  



